<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1800">
    <title>天氣預報</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.0/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


</head>

<body onload="getTime()">
    <div class="hero">
        <div class="hero-body">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <p class="title is-2">
                        空氣品質
                    </p>

                    <p class="subtitle">
                        資料來源:<a href="https://data.gov.tw/dataset/40448" target="_blank">政府資料開放平台</a><br>
                    </p>
                    <!-- <p>
                        資料更新時間:{{date}}
                    </p> -->


                    </p>
                    <p id="date">
                        {{date}}
                    </p>
                    <form action="./data_2" class="form mt-2">

                        <p>資料更新時間:{{date}}</p>
                        <button class="button is-info is-medium">

                            更新資料
                        </button>
                    </form>

                    <p>
                        <a class="button is-link is-medium" href="/index" target="_blank">首頁</a>
                    </p>

                </div>
            </div>

            <section class="hero is-small is-primary">
                <div class="hero-body">
                    <p class="title is-1">
                        二氧化氮
                    </p>
                    <p class="subtitle is-4  has-text-justified">
                        又稱為過氧化氮，是大π鍵結構的典型分子。大π鍵含有三個電子，其中兩個進入成鍵π軌道，
                        一個進入反鍵π軌道。二氧化氮室溫下為紅棕色氣體，易溶於水且具有刺激性氣味。吸入二氧化氮
                        可能對肺組織產生強烈的刺激作用和腐蝕作用。由於其結構的不穩定性，通常情況下與其二聚體形式——四氧化二氮(無色氣體)
                        混合存在，構成一種平衡態混合物。二氧化氮轉化而四氧化二氮放熱。升高溫度，平衡向二氧化氮合成的方向移動；降低溫度，
                        平衡向四氧化二氮合成的方向移動。
                    </p>
                    <p class="title is-3">
                        健康危害：
                    </p>
                    <p class="subtitle is-4 has-text-justified">
                        氮氧化物主要損害呼吸道。吸入氣體初期僅有輕微的眼及上呼吸道刺激症状，如咽部不適、乾咳等。
                        常經數小時至十幾小時或更長時間潛伏期後發生遲發性肺水腫、成人呼吸窘迫症候群，出現胸悶、呼吸窘迫、咳嗽、咯泡沫痰、紫紺等。
                        可並發氣胸及縱隔氣腫。肺水腫消退後兩周左右可出現遲發性阻塞性細支氣管炎。慢性作用：主要表現為神經衷弱症候群及慢性呼吸道炎症。
                        個別病例出現肺纖維化。可引起牙齒酸蝕症。
                    </p>
                </div>
            </section>

            <div class="column">
                <div class="card  has-text-centered">
                    <header class="card-header">

                    </header>

                </div>

            </div>

        </div>



        <div class="column is-two-four">
            <div class="box">
                <div id="pm25" style="width: 100%;height:400px;"></div>
            </div>

        </div>
    </div>
    </div>





    <!-- <script src=" {{ url_for('static', filename='./js/index.js' ) }}">
                    </script> -->

    <script src="{{url_for('static',filename='./js/pm25.js')}}"></script>
    <script src="{{url_for('static',filename='./js/main.js')}}"></script>
</body>

</html>