<!doctype html>
<html>

<head>
    <title> new document </title>
    <script type="text/javascript">
        var d1 = [[1, 1], [2, 2], [3, 3]];
        var d2 = [[11, 1], [22, 2]];
        var d3 = [[1, 11], [2, 22], [3, 33], [4, 44]];
        var Table = function (element) {
            this.element = document.getElementById(element);
        };
        Table.prototype = {
            add: function (data) {
                var e = this.element, body = null, f = document.createDocumentFragment();
                for (var i = 0, len = data.length; i < len; i++) {
                    var tr = document.createElement("tr");
                    for (var j = 0; j < data[i].length; j++) {
                        var td = document.createElement("td");
                        td.innerHTML = data[i][j];
                        tr.appendChild(td);
                    }

                    f.appendChild(tr);
                }
                body = e.getElementsByTagName("tbody")[0] || e;
                body.appendChild(f);
            },
            update: function (data) {
                var e = this.element, len = e.rows.length;
                for (var i = 0, dl = data.length; i < dl && i < len; i++) {
                    for (var j = 0; j < data[i].length; j++) {
                        e.rows[i].cells[j].innerHTML = data[i][j];
                    }
                }
                if (i < len) {
                    for (var n = len - 1; n >= i; n--) {
                        e.deleteRow(n);
                    }
                } else if (i < data.length) {
                    this.add(data.slice(i));
                }
            }
        };
        window.onload = function () {
            for (var i = 0; i < 1000; i++) {
                d1[i] = [i, i];
            }
            for (var i = 0; i < 500; i++) {
                d2[i] = [i + 1, i];
            }
            for (var i = 0; i < 2000; i++) {
                d3[i] = [i, i + 1];
            }
            var n = 1, t = new Table("table1"), t1 = new Date();
            t.add(d1);
            upTimer(t1, new Date());
            document.getElementById("button1").onclick = function () {
                if (n++ < 3) {
                    t1 = new Date();
                    t.update(window["d" + n]);
                    upTimer(t1, new Date());
                }
            };
            function upTimer(t1, t2) {
                document.getElementById("timer").innerHTML = (t2 - t1) / 1000 + "秒";
            }
        };
    </script>
</head>

<body>
    <input type="button" id="button1" value="update" /> <span id="timer"></span><br />
    <table id="table1"></table>
</body>

</html>